.git
.github
.DS_Store
**/.DS_Store

node_modules
**/node_modules

.env
**/.env
.env.*
**/.env.local
!.env.example

.next
**/.next
dist
**/dist

logs
logs/
log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

storage
storage/
uploads
tmp
temp
cache
.cache
.npm-cache
.npm-cache/

apps/web/tsconfig.tsbuildinfo
apps/api/*.tsbuildinfo
*.tsbuildinfo

coverage
*.local
